
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
}
.primary-btn{
    border-radius: 10px;
    background: #FF900E;
    padding: 20px 25px;
    border: none;
    color:#FFF;
    font-size: 18px;
    cursor: pointer;
}
/*header css*/
.header{
    background: rgb(225, 144, 14, 0.10);
    padding: 20px 200px;
}
.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #424242;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 40px;
    font-size: 1rem;
    font-weight: 500;
}
nav li a {
    text-decoration: none;
    color: #424242;
}
/*banner css*/
.banner-container{
    max-width: 700px;
    text-align: center;
    margin: 0 auto;

}
.images{
    margin-top: 20px;
    width: 100%;
}
.banner-title{
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
   
}
.banner-discription{
    color: #727272;
}
/*main css*/
main{
    max-width: 1440px;
}
.team-section{
    margin: 50px 100px;
}
.team-container{
    display: flex;
    align-items: center;
    gap: 30px;
}
.team-image{
    display: flex;
    margin-right: 10px;
    margin-top: 10px;
}
.image img{
    width: 200px;
    margin-left: 10px;
}
.teams-content{
    
}
.teams-title{}
.description{}

/*Experience css part*/
.Experience-section{
    display: flex;
    margin: 50px 100px;
    /* gap: 200px; */
}
.quick{
    color: #727272;
    font-weight: 500;
}
.f{
    color: #FF900E;
    font-weight: 700;
}
.description{
    color: #727272;
}
.Experience-content{}
.Experience-header{
    font-size: 30px;
    font-weight: 700;
    width: 300px;
    margin-bottom: 20px;
    
}

.Experience-description{
    color: #727272;
}
.My-Experience{
    margin-left: 30px;
    margin-right: 30px;
}
.M-E{
    margin-bottom: 20px;
}
.description{
}
.Experience-section .Experience-header{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}   
.Experience-img{
    
}
.Experience-img img{
    width: 120%;
    
    margin-left: 100px;
    
    /* margin-left: 100px; */
}
.ten-years-badge{
    background: #FF900E;
    border-radius: 8px;
    color: #FFF;
    font-weight: 342;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 100px;
    
}

.ten-years-badge h2{
    font-size: 3rem;
    margin: 0;
}
.ten-years-badge p{
    font-size: 1rem;
}
/*facts section css*/
.facts{
    margin: 50px 100px;
}
.facts-title{
    font-size: 30px ;
    font-weight: 700;
}
.facts-description{
    width: 500px;
    color: #727272;
}
.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
   
}
.facts-card-container .card-ststs{
    font-size: 2.5rem;
    color: #424242;
    margin-top: 10px ;
    margin-bottom: 10px;
}
.facts-card-container .card-title{
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
}
.facts-card-container{
    display: flex;
    justify-content: space-around;
}
/*sponsors css*/
.sponsors{
    text-align: center;
}
.sponsors .sponsors-title{}
.sponsors .sponsors-descripion{
    color: #727272;
}
.sponsors-img-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
}
.sponsors-img-container img{
    width: 164px;
}
.footer{
    background:  rgb(225, 144, 14, 0.10);
    padding: 20px ;
    margin: 100px 0px;
    text-align: center;
    color: #727272;
}





/*Responsive css*/
@media screen and (max-width:576px) {
    .header{
        padding: 20px;
        
    }
    .Experience-img img{
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .ten-years-badge{
        padding: 10px;
    }
    .My-Experience{
        margin-left: 0px;
        margin-right: 0px;
    }
    nav{
        flex-direction: column;
    }
    .facts-card-container{
        flex-direction: column;
    }
    .facts-card-container .card{
        margin-bottom: 10px;
    }
    .facts-description{
        width: 100%;
    }
    .sponsors-img-container{
        flex-direction: column;
    }
}
/*table or medium devices*/
@media screen and (min-width:576px) and (max-width:992px) {
    .header{
        padding: 30px;
    }
    nav
    {
        flex-direction:column ;
    
    } 
}
@media screen and (max-width:1046px) {
    .nav-title{
        font-size: 2rem;
    }
    
}
@media screen and (max-width:850px) {
        .team-container
        .sponsors-img-container{
            flex-direction: column;
        }
        .Experience-section{
            flex-direction: column-reverse;
        }
        .Experience-img img{
            margin-left: 0;
            margin-bottom: 20px;
        }

}

